$is-ie: false !default;

@mixin media-down($size: false, $max-width: false, $min-width: false) {
  @if $is-ie == false {
    @if $size == mobile {
      @media (max-width: 640px){
        @content;
      }
    } @else if $size == tablet {
      @media (max-width: 800px){
        @content;
      }
    }
  }
}
