// GLOBAL NAVIGATION
$nav-active: $black;
$nav-highlight: $border-colour;

#global-header {
  form#search {
    input.button {
      background-color: $main-colour;

      &:hover {
        background-color: lighten($main-colour, 10%);
      }
    }

    @include ie-lte(7) {
      input.button-active {
        background-color: lighten($main-colour, 10%);
      }

      input.button-hover {
        background-color: lighten($main-colour, 10%);
      }
    }
  }
}

#global-nav {
  margin: 0 1em;
  border-bottom: $gutter-one-third solid $nav-highlight;
  position: relative;
  z-index: 100;
  text-align:left;

  @include media(desktop) {
    margin: 0 2em;
    text-align: right;
  }
  
  .inner {
    border-bottom: $gutter-one-sixth solid $nav-active;
    padding: $gutter-one-sixth 0 0 0;
    @extend %contain-floats;
  }

  a,
  .toggler {
    @include core-16;
    display: block;
    text-decoration: none;
    color: $nav-active;
    padding: $gutter-one-third 8px;

    @include media(desktop) {
      display: inline-block;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .home a {
    display: block;
    float: left;
    padding-left: 0;
    color: $text-colour;
  }
  .jump-link {
    float: right;

    @include media(desktop) {
      position: absolute;
      left: -99999em;
    }
  }
  .toggler {
    cursor: pointer;
    padding: $gutter-one-third 8px;

    &:focus {
      outline: none;
    }

    &:after {
      display: inline-block;
      font-size: 8px;
      height: 8px;
      padding-left: 5px;
      vertical-align: middle;
      content: " \25BC";
    }
  }
  &.open {
    .toggler {
      &:after {
        content: " \25B2";
      }
    }
  }
  nav {
    clear: both;
    margin-bottom: 3px;

    @include media(desktop) {
      clear: none;
      background: transparent;
      position: static;
      margin-bottom: 0;
    }

    #navigation{
      margin: 0;
      padding: 0;
      background-color: $nav-highlight;

      @include media(desktop) {
        float: right;
        background-color: transparent;
      }
    }

    .current {
      color: $white;
      background: $nav-active;
    }

    a {
      color: $black;
    }

    li {
      display: block;
      position: relative;

      @include media(desktop) {
        display: inline;
      }

      .toggler {
        position: absolute;
        left: -9999em;
        &:focus {
          text-decoration: none;
        }

        @include media(desktop){
          position: relative;
          left: auto;
          z-index: 10;
        }
      }
    }
  }
  &.open {
    .toggler {
      background: $nav-highlight;
    }
    .toggler.current {
      background: $nav-active;
    }
  }

  .home {
    a {
      position: relative;
      small {
        position: absolute;
        top: 0.8em;
        text-transform: uppercase;
        color: white;
        -webkit-font-smoothing: subpixel-antialiased;
        background-color: $panel-colour;

        padding: 2px 5px 0;
        margin-left: 10px;

        &.alpha {
          background-color: $alpha-colour;
        }

        &.beta {
          background-color: $beta-colour;
        }
      }
    }
  }

}
