// GLOBAL NAVIGATION
#global-header {
  &.with-proposition {
    .search-toggle {
      @media screen and (max-width: 379px) {
        background-color: $main-colour;
      }
    }

    form#search {
      input.submit {
        border: 1px solid $main-colour;
        background-color: $main-colour;
      }
    }

    .header-proposition {
      #proposition-name {
        color: $main-colour;
      }
      #proposition-links {
        li {
          a {
            &.active {
              color: $main-colour;
            }
          }
        }
      }
    }
  }
}