header.page-header {
  margin: 2em 1em 0 1em;
  padding: 0 0 45px 0;

  @include media(desktop) {
    margin: 1em 2em 0 2em;
  }

  .hgroup {
    padding: 0;

    h1 {
      @include bold-48;
      color: $text-colour;
      padding-top: 0.7rem;
      padding-bottom: 1.3rem;
    }

    h2.subtitle{
      margin: 0;
      color: $secondary-text-colour;
      @include core-24;
    }
  }
}