.detailed-guidance {
  .article-container {
    .inner {
      padding: 0 1em 2em 1em;

      @include media(desktop) {
        margin-left: 25%;
        padding: 0 10em 2em 1em;
      }

      // 1st para is bigger
      .intro {
        @include core-24;
        padding: 10px 0;
        margin: 0 0 1.5em 0;
      }

      img {
        max-width: 100%;
      }
    }
  }
}
