// ====================================================
// HOME PAGE
//

.homepage {
  header.page-header {
    border: none;
    padding: 0;

    hgroup {
      padding: 0;
    }    
  }

  .dbd-promo {
    border-top: 5px solid $main-colour;
    border-bottom: 5px solid $main-colour;
    overflow: hidden;
    
    margin: 2em 2em 4em 2em;
    
    p {
      width: 52%;
      margin: 1em 0 1em 0;
      float: left;

      @include core-24;
      line-height: 1.5em;
    }
    
    strong {
      display: block;
    }

    .logo {
      display: block;
      float: right;
      padding: 1.8em 0 1em 1.5em;
      width: 42.5%;
      img{
        width: 100%;
      }
    }
  }

  .intro {
    float: right;
    width: 40%;
    margin: 0 2em 2em 2em;
    padding: 0 0 1em 0;
    border-bottom: 3px solid $main-colour;

    h2{
       margin-top: 0;
    }

    img {
      margin: 0 auto;
      display: block;
      float: right;
      width: 30%;
    }

    a{
      @include core-24;  
    }
    .button{
      @include button($red);
    }
  }

  .service-life {
    margin: 0 2em;
    width: 40%;

    border-right: 1px solid $border-colour;
    padding-right: 4.5em;

    h2 {
      // @include bold-36;
    }
  }

  // Phases
  .phases {
    list-style: none;
    padding: 0;

    li {
      display: block;
      padding: 0 0 0.7em $gutter*2.5;

      &:first-child{
        padding-top: 0.5em;
      }


      &.discovery { background: transparent url(../images/phases-timeline-discovery.png) 0 0 no-repeat }
      &.alpha     { background: transparent url(../images/phases-timeline-alpha.png) 0 0 no-repeat }
      &.beta      { background: transparent url(../images/phases-timeline-beta.png) 0 0 no-repeat }
      &.live      { background: transparent url(../images/phases-timeline-live.png) 0 0 no-repeat }

      p {
        @include core-16;
        margin: 0.75em 0;
        a{
          @include core-19;
        }
      }

      h2 {
        margin-top: 0;

        a {
          color: $text-colour;
          text-decoration: none;
          font-weight: bold;
        }
      }

      img {
        margin: 1em 0 0 0;
        display: none;
      }
    }
  }

  .resources {
    margin: 0 2em;
  }

  #roles{
    margin-top: 1.5em;
    border-top: 3px solid #DF3034;
    h3{
      @include heading-24;
      font-weight: bold;
    }
    .roles {
      li{
        width: 100%;
      }
      a, p{
        padding: 0;
        border: none;
        @include core-19;
      }
    }
  }
}