// ====================================================
// HOME PAGE
//

.homepage {
  header.page-header {
    border: none;
    padding: 0;

    hgroup {
      padding: 0;
    }    
  }

  .dbd-promo {
    border-top: 3px solid $main-colour;
    border-bottom: 3px solid $main-colour;
    overflow: hidden;
    
    margin: 2em;
    
    p {
      width: 51%;
      margin: 1em 0 1em 0;
      float: left;

      @include core-19;
      line-height: 1.5em;
    }
    
    strong {
      display: block;
    }

    .logo {
      display: block;
      float: right;
      padding: 1.5em 0 1em 1.5em;
      width: 44%;
      img{
        width: 100%;
      }
    }
  }

  .intro {
    margin: 0 2em 2em 2em;
    padding: 0 0 2em 0;
    border-bottom: 3px solid $main-colour;

    h2 {
      @include bold-36;
    }

    p {
      @include core-24;
    }
  }

  .service-life {
    margin: 0 2em;

    h2 {
      @include bold-36;
    }
  }

  // Phases
  .phases {
    list-style: none;
    padding: 0;

    h2 {
      @include bold-36;
    }

    li {
      display: block;
      padding: 0.5em 0 2em $gutter*2.5;

      &.discovery { background: transparent url(../images/phases-timeline-discovery.png) 0 0 no-repeat }
      &.alpha     { background: transparent url(../images/phases-timeline-alpha.png) 0 0 no-repeat }
      &.beta      { background: transparent url(../images/phases-timeline-beta.png) 0 0 no-repeat }
      &.live      { background: transparent url(../images/phases-timeline-live.png) 0 0 no-repeat }

      p {
        width: 75%;
      }

      h2 {
        margin-top: 0;

        a {
          color: $text-colour;
          text-decoration: none;
        }
      }
    }
  }

  .outputs {
    list-style: none;
    @extend %contain-floats;
    
    li {
      display: block;
      float: left;

      text-align: center;
    }

  }

  .article-container {
    .inner {
      margin: 0;
      padding: 0;
    }
  }
}