// ====================================================
// HOME PAGE
//

.js-enabled .search-the-manual label {
float: none;
position: absolute;
width: 22em;
margin-right: 0;
background-color: white;
padding: 0.2em 0 0 0.3em;
}

.homepage {
  header.page-header {
    margin: 2em 0;
    border: none;
    padding: 0;

    hgroup {
      padding: 0;
    }  

  }

  .intro{
    margin: 3em 0em 0 0;
    padding: 11em 11em 2em 12em;
    background: url("/service-manual/assets/images/DbD-kitemark.png") no-repeat center top;
    background-size: 62%;
    p{
      @include core-27;
    }
  }

  .browse-highlights{
    @include grid(3);
    border-top: 5px solid $main-colour;
    padding: 2em 0;
    margin: 0 2em;
    h2{
      font-weight: 400;     
    }
    ul{
      padding: 0;
    }
    li{
      list-style: none;
      padding: 0;
    }
  }

  .search-the-manual{
    background: $highlight-colour;
    border-top: 5px solid $main-colour;
    margin: 0 2em;
    padding: 4em 0 1em 10em;

    .submit{
      position: relative;
      border: 0;
      height: 46px;
      width: 46px;
      vertical-align: top;
      background-color: $main-colour;
      overflow: hidden;
      text-indent: -5000px;
      color: white;
      background-image: url("https://assets.digital.cabinet-office.gov.uk/static/search-button.png");
      background-repeat: no-repeat;
      background-position: 100% 50%;
      background-size: 150%;
      margin-left: -46px;
    }
    label{
      font-size: 27px;
    }
    p{
      padding: 0.5em;
    }
    input[type="search"]{
      position: relative;
      background-color: transparent;
      border: 2px inset;
      font-size: 27px;
      padding: 0.1em 0 0.1em 0.4em;
      margin: 0;
      width: 23em;
    }

    #site-search-text.focus,
    #site-search-text:focus{
      background-color: white;
    }

  }



  .dbd-promo {
    border-bottom: 5px solid $main-colour;
    overflow: hidden;  
    margin: 2em 1em;

    @include media(desktop) {
      margin: 0.5em 2em 2em 2em;
    }
    
    p {
      margin: 1em 0;
      float: left;

      @include core-24;

      @include media(tablet) {
        width: 49%;
      }
    }
    
    .logo {
      display: block;
      padding: 0;
      margin: 0;

      @include media(tablet) {
        float: right;
        width: 50%;

        a {
          display: block;
          padding: 1em 0 0 1em;
        }
      }

      img{
        width: 100%;
      }
    }
  }

  .homepage-column {
    @include media(tablet) {
      width: 50%;
      float: left;
    }

    .inner {
      padding: 0 1em;
      margin-bottom: 1em;

      @include media(desktop) {
        padding: 0 2em;
        margin-bottom: 2em;
      }
    }
  }

  .timeline {
    @include media(tablet) {
      width: 50%;
      float: right;

      .inner {
        border-left: 1px solid $border-colour;
      }
    }

    .inner {
      padding: 0 1em;
      margin-bottom: 1em;

      @include media(desktop) {
        padding: 0 2em;
        margin-bottom: 2em;
      }
    }
  }


  .service-life {
    margin: 0;
    
    h2 {
      margin-top: 0;
      // @include bold-36;

      a {
        color: $text-colour;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // Phases list (main styles are in phases.scss)
  .phases-list {
    li {
      p {
        @include core-16;
      }
    }
  }

  .resources {
    margin: 0 2em;
  }

  #roles{
    padding-top: 1em;
    border-top: 3px solid #DF3034;

    @include media(tablet) {
      padding-top: 0;
      border-top: none;
    }

    h3{
      @include bold-24;
      margin-top: 0;
    }

    .roles {
      li{
        width: 100%;
      }
      a, p{
        padding: 0;
        border: none;
        @include core-19;
      }
    }
  }
}