// ===================================================
// PHASES PAGE
//
.phases {

  article .inner{
    padding-right: 0;
  }


   .phases-intro {

    p{
      //@include core-24;
    }

    @include media(tablet) {
      width: 50%;
      float: left;
    }

    .inner {
      padding: 0 5em 0 0;
      margin-bottom: 1em;

      @include media(desktop) {
        margin-bottom: 2em;
      }
    }
  }

  .timeline {
    @include media(tablet) {
      width: 50%;
      float: right;
    }

    .inner {
      padding: 0 1em;
      margin-bottom: 4em;

      @include media(desktop) {
        padding: 0 4em 0 0;
        margin-bottom: 2em;
        margin-top: -3em;
      }
    }
  }
}

// Phases
.phases-list {
  list-style: none;  
  @include ie-lte(7) { 
    list-style-image: none;
  }
  padding: 0;
  padding-left: 1.5em;

  p{
    @include core-16;
  }

  > * {
    display: block;
    padding: 0 0 0.7em 2em;
    margin: 0;
    @include core-19;

    // Tube line
    border-left: dotted 0.6em;

    // Tube station
    &:before{
      content: "";
      display: block;
      border: 0.3em solid;
      background: white;
      width: 1.2em;
      margin: 0.5em -3.2em;
    }

    &:first-child{
      padding-top: 0.5em;
      margin-top: 5em;

      // Interchange tube station
      &:before{
        border: 0.6em solid;
        height: 1.2em;
        border-radius: 1.2em;
        margin: -2.8em -3.45em;
      }
      h3{
        margin-top: 1em;
      }
    }

    &.discovery,
    &.discovery:before {
      border-color: $discovery-colour;
    }
    &.alpha,
    &.alpha:before {
      border-color: $alpha-colour;
    }
    &.beta,
    &.beta:before {
      border-color: $beta-colour;
    }
    &.live,
    &.live:before {
      border-color: $live-colour;
    }
    &.retirement,
    &.retirement:before {
      border-color: $retirement-colour;
    }
    &.retirement{
      //border-left-color: transparent;
    }

    p {
      margin: 0.75em 0;
      a {
        @include core-19;
      }
    }

    h3 {
      margin-top: -1.3em;
      border-bottom: 0;

      a {
        color: $text-colour;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .link-list {
    h3 {
      margin-top: 1em;
    }    
  }
}

.related-guides{
  border-top: 5px solid $main-colour;
  margin-top: 2em;
  padding-top: 1em;
}
