// ===================================================
// PHASES PAGE
//


.phases {
  /*
  .phase-diagram {
    width: 100%;
    margin: 0 -1em 0 -1em;
  }

  .phase-activities {
    margin: 1em 0;
    padding: 0;
    overflow: hidden;
    list-style: none;

    @extend %contain-floats;

    li {
      margin: 0 2em 0 0;
      padding: 0;
      float: left;
      text-align: center;
      width: 100px;
    }

    .output {
      display: block;
      background-color: $highlight-colour;
    }
  }
  */
}

// Phases
.phases-list {
  list-style: none;  
  @include ie-lte(7) { 
    list-style-image: none;
  }
  padding: 0;
  padding-left: 1em;

  > * {
    display: block;
    padding: 0 0 0.7em $gutter*2.5;
    margin: 0;
    @include core-19;

    &:before{
      content: "";
      display: block;
      border: 0.3em solid;
      background: white;
      width: 1.5em;
      margin: 0.5em -5.35em;
    }

    &:first-child{
      padding-top: 0.5em;
      margin-top: 5em;
      &:before{
        border: 0.6em solid;
        height: 1.5em;
        border-radius: 2em;
        margin: -2.8em -5.65em;
      }
      h2{
        margin-top: 0.5em;
      }
    }


    //&.discovery { background: transparent url(../images/phases-timeline-discovery.png) 0 0 no-repeat }
    //&.alpha     { background: transparent url(../images/phases-timeline-alpha.png) 0 0 no-repeat }
    //&.beta      { background: transparent url(../images/phases-timeline-beta.png) 0 0 no-repeat }
    //&.live      { background: transparent url(../images/phases-timeline-live.png) 0 0 no-repeat }

    &.discovery {
      border-left: dotted 0.75em $discovery-colour;
      &:before{border-color: $discovery-colour;}
    }
    &.alpha {
      border-left: dotted 0.75em $alpha-colour;
      &:before{border-color: $alpha-colour;}
    }
    &.beta {
      border-left: dotted 0.75em $beta-colour;
      &:before{border-color: $beta-colour;}
    }
    &.live {
      border-left: dotted 0.75em $live-colour;
      &:before{border-color: $live-colour;}
    }

    p {
      margin: 0.75em 0;
      a {
        @include core-19;
      }
    }

    h2 {
      margin-top: -1em;
      border-bottom: 0;
    }

    img {
      margin: 1em 0 0 0;
      display: none;
    }
  }
}
