#content.search {
  h1 {
    @include bold-36;
    padding: 0 30px;
  }

  > p {
    padding: 0 30px;
  }

  ol {
    list-style: none;
    padding-left: 30px;

    li {
      margin-bottom: 2em;
      max-width: 70%;

      p {
        margin-top: 0;
      }
    }
  }
}
