// ====================================================
// DIGITAL BY DEFAULT STANDARD PAGE
//

.dbd {
  // Swap standard header for DbD kitemark
  .page-header {
    h1 {
      background: url('/service-manual/assets/images/DbD-kitemark.png') no-repeat 0 0.5em;
      height: 150px;
      background-size: Auto 74%;
      text-indent: -9999px;
    }
  }

  .inner {
    padding: 0
  }

  // The list of criteria
  .standard {
    display: inline-block;
    vertical-align: middle;
    margin: 1em 0;
    padding: 0;

    counter-reset: standard-counter;

    >li {
      list-style: none;

      display: block;
      border-top: 1px solid $border-colour;
      padding: 1em 0 2em 0;
      margin: 0;
      @extend %contain-floats;


      &:before {
        content: counter(standard-counter);
        counter-increment: standard-counter;

        display: inline-block;
        float: left;
        margin-right:5%;

        @include bold-80;

        @include media(tablet) {
          width: 10%;
        }
      }

      .point {
        @include bold-24;

        @include media(tablet) {
          width: 50%;
          float: left;
        }
      }
    }

    ul.guidance {
      @include media(tablet) {
        float: right;
        margin-left: 10%;
        width: 25%;
      }

      padding-left: 0;

      >li {
        font-size: 16px;
        list-style: none;
        overflow: hidden;
        margin: 0.5em 0 0 0;
        padding: 0.5em 0 0 0;
        border-top: 1px solid $grey-3;

        &:first-child {
          border: none;
          margin-top: 0;
        }
      }
    }
  }
}
