// ====================================================
// DIGITAL BY DEFAULT STANDARD PAGE
//

.dbd {
  // Swap standard header for DbD kitemark
  header.page-header {
    margin: 2em 0 0.5em 0em;
    padding: 0 0 1em 0;
    border-bottom: none;

    @include media(desktop) {
      @if $is-print == false {
        width: 67%;
      }

      margin: 0 auto;
    }

    hgroup {
      margin: 0 1em;

      @include media(tablet) {
        margin: 0 2em;
      }

      @include media(desktop) {
        margin: 0;
      }
    }

    h1 {
      background: url('/service-manual/assets/images/DbD-kitemark.png') no-repeat 50% 70%;
      background-size: 100%;
      text-indent: -9999px;

      width: 100%;
      height: 100px;

      @include media(tablet) {
        height: 140px;
      }

      @include media(desktop) {
        height: 150px;
        background-size: Auto 80%;
      }
    }
  }

  .inner {
    padding: 0 2em;
  }

  .intro {
    @include media(desktop) {
      width: 67%;
      margin: 0 auto;
    }

    h2 {
      margin-top: 0;
    }

    p{
      @include core-24;

      @if $is-print == true {
        a { 
          text-decoration: none;
        }
        a[href^="http://"]:after {
          content: "";
        }
      }

    }

    @if $is-print == true {
      .common-questions{
        display: none;
      }      
    }

    ul {
      margin: 0;
      padding: 0 0 1.8em 0;

      li {
        font-size: 16px;
        list-style: none;
        overflow: hidden;
        margin: 0.5em 0 0 0;
        padding: 0.5em 0 0 0;
        border-top: 1px solid $grey-3;

        &:first-child {
          border-top: none;
        }
      }

    }
  }

  // The list of criteria
  .standard {
    display: inline-block;
    vertical-align: middle;
    padding: 0;

    counter-reset: standard-counter;

    >li {
      list-style: none;

      display: block;
      border-top: 1px solid $border-colour;
      padding: 2em 0 2em 0;
      margin: 0;
      @extend %contain-floats;

      &:first-child{
        border-top: 5px solid $main-colour;
      }

      &:before {
        content: counter(standard-counter);
        counter-increment: standard-counter;

        display: inline-block;
        float: left;
        margin-right:6.5%;
        text-align: right;

        @include bold-80;

        @include media(tablet) {
          width: 10%;
        }
      }

      .point {
        @include core-24;

        @include media(tablet) {
          @if $is-print == true {
            width: 67%;
          } @else {
            width: 50%;
          }
          float: left;
        }
      }
    }

    .guidance {
      @if $is-print == true {
        display: none;
      }
      @include media(mobile) {
        margin-top: 1em;
      }
      @include media(tablet) {
        float: right;
        margin-left: 10%;
        width: 23%;
      }
      p{
        font-size: 16px;
      }

      ul {
        margin: 0;
        padding-left: 0;

        li {
          margin-left: 0;
          font-size: 16px;
          list-style: none;
          overflow: hidden;
          padding: 0.5em 0 0 0;

          &:first-child {
            border: none;
            margin-top: 0;
          }
        }
      }
    }
  }

  .link-list {
    padding-bottom: 2em;

    li {
      a {
        width: auto;
      }
    }
  }
}
