.js-enabled #caveat-notice {
  display: none; /* shown with JS */
}

#caveat-notice {
  background-color: #D5E8F3;
  padding: 0.5em 0;
  margin: 0 auto;

  @include ie-lte(6) {
    width: 960px;
  }

  p {
    @include core-19;
    margin: 1em;
  }

  @include media(mobile) {
    padding: 0.5em 1em;
  }
}
