// ====================================================
// Tooltip 

a.tooltip {
  outline: none;
  color: $black;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    &:after{
      content: "\25C0";
      display: block;
      text-decoration: none;
      color: black;
      z-index: 11;
      margin-left: 10px;
    }
    span{
      display: inline;
      position: absolute;
      color: #EEE;
      background: #0B0C0C;
    }
  }
  span {
    z-index: 10;
    display: none;
    padding: 1em;
    margin-top: -50px;
    margin-left: 22px;
    width:240px;    
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3)
  }
}
