<div id="caveat-notice">
  <p>Welcome to the Government Service Design Manual. From April this will be the place to find the Digital by Default service standard, as well as guidance and tools for building world-class digital services.</p>

  <p>This is an experimental beta version of the manual, and it may contain inaccuracies or have gaps.</p>

  <p>We will be working to improve the site before a full release in April. If you have any feedback please email <a href="mailto:dbd-team@digital.cabinet-office.gov.uk">dbd-team@digital.cabinet-office.gov.uk</a></p>
</div>