<footer class="group" id="footer" role="contentinfo"><div class="footer-wrapper">
        <nav class="footer-categories"><div class="footer-explore">
            <h2>Explore GOV.UK</h2>

            <ul>
<li><a href="/browse/driving">Driving, transport and travel</a></li>
              <li><a href="/browse/benefits">Benefits</a></li>
              <li><a href="/browse/business">Businesses and self-employed</a></li>
              <li><a href="/browse/employing-people">Employing people</a></li>
              <li><a href="/browse/education">Education and learning</a></li>
              <li><a href="/browse/working">Working, jobs and pensions</a></li>
              <li><a href="/browse/housing">Housing and local services</a></li>
              <li><a href="/browse/justice">Crime, justice and the law</a></li>
              <li><a href="/browse/tax">Money and tax</a></li>
              <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
              <li><a href="/browse/disabilities">Disabled people</a></li>
              <li><a href="/browse/citizenship">Citizenship and life in the UK</a></li>
            </ul>
</div>

          <div class="footer-inside-government">
            <h2><a href="/government">Inside Government</a></h2>

            <ul>
<li><a href="/government/how-government-works">How government works</a></li>
              <li><a href="/government/organisations">Departments</a></li>
              <li><a href="/government/topics">Topics</a></li>
              <li><a href="/government/policies">Policies</a></li>
              <li><a href="/government/publications">Publications</a></li>
              <li><a href="/government/announcements">Announcements</a></li>
            </ul>
</div>

        </nav><div class="footer-meta">
          <nav><ul>
<li><a href="/support">Support</a></li>
              <li><a href="/support/cookies">Cookies</a></li>
              <li><a href="/feedback">Feedback</a></li>
              <li><a href="/cymraeg">Cymraeg</a></li>
              <li>Built by the <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a>
</li>
            </ul>
<p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, except where otherwise stated</p>
          </nav><div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">© Crown Copyright</a>
          </div>
        </div>
      </div>
    </footer>

