<footer class="group" id="footer" role="contentinfo">
      <div class="footer-wrapper">
        <nav class="footer-categories"><h2>Explore GOV.UK</h2>

          <ul>
<li><a href="/browse/driving">Driving, transport, and travel</a></li>
            <li><a href="/browse/business">Businesses and self-employed</a></li>
            <li><a href="/browse/education">Education and learning</a></li>
            <li><a href="/browse/housing">Housing and local services</a></li>
            <li><a href="/browse/justice">Crime, justice and the law</a></li>
            <li><a href="/browse/tax">Money and tax</a></li>
          </ul>
<ul>
<li><a href="/browse/benefits">Benefits</a></li>
            <li><a href="/browse/employing-people">Employing people</a></li>
            <li><a href="/browse/working">Working, jobs and pensions</a></li>
            <li><a href="/browse/citizenship">Citizenship and life in the UK</a></li>
            <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages, parenting and care</a></li>
          </ul>
<div class="copyright">
            <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
          </div>
        </nav><div class="footer-meta">
          <ul>
<li><a href="/help">Help</a></li>
            <li><a href="/help/cookies">Cookies</a></li>
            <li><a href="/feedback">Feedback</a></li>
          </ul>
<div class="colophon">Built by the <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a>
</div>
          <p>Where indicated, content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a></p>

        </div>
      </div>
    </footer>

