<div class="js-toggle-nav" id="global-nav">
  <div class="inner">
    <span class="home"><a href="/service-manual" {% if page.section == 'home' %}class="current"{% endif %}>Government Service Design Manual<small class="beta">beta</small></a></span>
  <span class="jump-link">
    <a href="#navigation" class="toggler" tabIndex="0">menu</a>
  </span>

    <nav role="navigation" class="content">
      <ul id="navigation">
        <li><a href="/service-manual/digital-by-default" {% if page.section == 'dbd' %}class="current"{% endif %}>Digital by Default Service Standard</a></li>
        <li><a href="/service-manual/about" {% if page.section == 'about' %}class="current"{% endif %}>About</a></li>
        <li><a href="/feedback">Feedback</a></li>
      </ul>
    </nav>
  </div>
</div>