<!--[if gt IE 8]><!--><link href="http://static.preview.alphagov.co.uk/static/application.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><!--[if IE 6]><link href="http://static.preview.alphagov.co.uk/static/application-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="http://static.preview.alphagov.co.uk/static/application-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="http://static.preview.alphagov.co.uk/static/application-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><link href="http://static.preview.alphagov.co.uk/static/print.css" media="print" rel="stylesheet" type="text/css">
<!--[if IE 8]>
<script type="text/javascript">
  (function(){if(window.opera){return;}
  setTimeout(function(){var a=document,g,b={families:(g=
  ["nta"]),urls:["http://static.preview.alphagov.co.uk/static/fonts-ie8.css"]},
  c="http://static.preview.alphagov.co.uk/static/libs/goog/webfont-debug.js",d="script",
  e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
  ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
  .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
  })()
</script>
<![endif]--><!--[if gte IE 9]><!--><link href="http://static.preview.alphagov.co.uk/static/fonts.css" media="all" rel="stylesheet" type="text/css">
<!--<![endif]--><script src="http://static.preview.alphagov.co.uk/static/libs/jquery/jquery-1.7.2.js" type="text/javascript"></script><script defer src="http://static.preview.alphagov.co.uk/static/application.js" type="text/javascript"></script><!--[if lt IE 9]>
      <script src="http://static.preview.alphagov.co.uk/static/ie.js" type="text/javascript"></script>
    <![endif]--><link rel="shortcut icon" href="http://static.preview.alphagov.co.uk/static/favicon.ico" type="image/x-icon">
<!-- For third-generation iPad with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-144x144.png">
<!-- For iPhone with high-resolution Retina display: --><link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-114x114.png">
<!-- For first- and second-generation iPad: --><link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-72x72.png">
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: --><link rel="apple-touch-icon-precomposed" href="http://static.preview.alphagov.co.uk/static/apple-touch-icon-57x57.png">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% if whitehall != true %}
<script src="http://static.preview.alphagov.co.uk/frontend/frontend.js" type="text/javascript"></script>
{% endif %}
<link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml">
<!--[if gt IE 8]><!--><link href="http://static.preview.alphagov.co.uk/frontend/application.css" media="screen" rel="stylesheet" type="text/css">
<!--<![endif]--><link rel="alternate" type="application/json" href="/api/with_tag.json?tag=find-course">
<!--[if IE 6]><link href="http://static.preview.alphagov.co.uk/frontend/application-ie6.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 7]><link href="http://static.preview.alphagov.co.uk/frontend/application-ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]--><!--[if IE 8]><link href="http://static.preview.alphagov.co.uk/frontend/application-ie8.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->