    <!--start header-->
    <header role="banner" class="group" id="global-header"><div class="header-wrapper group">
        <a href="/" title="Go to the gov.uk homepage" id="logo"><img src="http://static.preview.alphagov.co.uk/static/gov.uk_logotype-2x.png" alt="GOV.UK Logo"></a>

        <a href="#footer" class="visuallyhidden">Skip to footer navigation</a>

        <a href="#search" class="button search-toggle">Search</a>

        <form id="search" class="site-search" action="/search" method="get" role="search">
          <label for="site-search-text" class="">Search</label>
          <input type="search" name="q" placeholder="Search GOV.UK" id="site-search-text" title="Search"><input class="button" type="submit" value="Search">
        </form>
      </div>
    </header>
    <!--end header-->