<!--start header-->
<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <a href="/" title="Go to the GOV.UK homepage" id="logo" class="content">
          <img src="https://assets.digital.cabinet-office.gov.uk/static/gov.uk_logotype-2x-24145374d271079f08d96c618cc8d4a5.png" alt="GOV.UK">
        </a>
        <a href="#search" class="search-toggle js-header-toggle">Search</a>
      </div>

      <form id="search" class="site-search" action="/service-manual/search" method="get">
          <div class="content">
            <label for="site-search-text">Search the service manual</label>
            <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus" role="search">
            <input class="submit" type="submit" value="Search" />
          </div>
        </form>
      </div>

      <div class="header-proposition">
        <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu">
            <a href="/service-manual" id="proposition-name">Government Service Design Manual</a>
            <ul id="proposition-links">
              <li><a href="/service-manual/digital-by-default" class="">Digital by Default Service Standard</a></li>
              <li><a href="/service-manual/start" class="">Start using the manual</a></li>
              <li><a href="/feedback" class="">Feedback</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
<!--end header-->