<ul>
  {% assign has_pages = false %}
  {% sorted_for p in site.pages sort_by:title %}
    {% if p.category == link_cat %}
      {% for phase in p.phases %}
        {% if phase == page.phase %}
        <li> 
          <a href="{{ p.url }}" title="{{ p.subtitle }}">{{ p.title }}</a>
          <span class="subtitle">{{ p.subtitle }}</span>
        </li>
        {% assign has_pages = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endsorted_for %}
  {% if has_pages == false %}
    <li>
      There is no guidance in this category for this phase
    </li>
  {% endif %}
</ul>
