<ul class="phases-list">
  <li class="discovery">
    <h3><a href="/service-manual/phases/discovery.html">Discovery</a></h3>

    <p>A short phase, in which you start researching the needs of your service’s users, find out what you should be measuring, and explore technological or policy-related constraints.</p>

    <p><a href="/service-manual/phases/discovery.html">Learn about the discovery phase</a></p>    

  </li>
  <li class="alpha">
    <h3><a href="/service-manual/phases/alpha.html">Alpha</a></h3>

    <p>A short phase in which you prototype solutions for your users' needs. You’ll be testing with a small group of users or stakeholders, and getting early feedback about the design of the service.</p>

    <p><a href="/service-manual/phases/alpha.html">Learn about the alpha phase</a></p>

  </li>
  <li class="beta">
    <h3><a href="/service-manual/phases/beta.html">Beta</a></h3>

    <p>You’re developing against the demands of a live environment, understanding how to build and scale while meeting user needs. You’ll also be releasing a version to test in public.</p>

    <p><a href="/service-manual/phases/beta.html">Learn about the beta phase</a></p>

  </li>
  <li class="live">
    <h3><a href="/service-manual/phases/live.html">Live</a></h3>

    <p>The work doesn’t stop once your service is live. You’ll be iteratively improving your service, reacting to new needs and demands, and meeting targets set during its development.</p>

    <p><a href="/service-manual/phases/live.html">Learn about the live phase</a></p>

  </li>

  <li class="retirement">
    <h3><a href="/service-manual/phases/retirement.html">Retirement</a></h3>

    <p>Even the best services may eventually reach retirement. That should be treated with the same care as went into the building and maintaining of that service.</p>

    <p><a href="/service-manual/phases/retirement.html">Learn about the retirement phase</a></p>

  </li>
</ul>
