<div class="related-positioning" style="position: fixed;">
  <div class="related-container">
    <div class="related" id="related">
      <div class="inner group">
        <h2>Other relevant links</h2>
        <nav role="navigation">
          <ul>
            <li>
                <a href="https://www.gov.uk/redundancy-payments-helpline">Redundancy payments helpline</a>
            </li>
            <li>
                <a href="https://www.gov.uk/redundant-your-rights">Redundancy: your rights</a>
            </li>
            <li class="related-topic">
              <a href="https://www.gov.uk/browse/working">More from the <span>Working, jobs and pensions</span> category</a>
            </li>
          </ul>
        </nav>
        <nav role="navigation" class="return-to-top">
          <a href="#content">Return to top ↑</a>
        </nav>
      </div>
      <div id="legacy-sources">
        <p>This replaces</p>
        <ul>
          <li class="directgov">Directgov</li>
          <li class="businesslink">Business Link</li>
        </ul>
      </div>
   </div>
  </div>
</div>