<h3>Guides and resources for…</h3>
<ul class="roles">
  <li><a href="/service-manual/service-managers/index.html">Service management</a></li>
  <li><a href="/service-manual/design-and-content/index.html">Design and content</a></li>
  <li><a href="/service-manual/developers/index.html">Web development</a></li>
  <li><a href="/service-manual/user-researchers/index.html">User research</a></li>
  <li><a href="/service-manual/web-ops/index.html">Web operations</a></li>
  <li><a href="/service-manual/performance-analysts/index.html">Measuring performance</a></li>
  <li><a href="/service-manual/chief-technology-officers/index.html">Technology</a></li>
</ul>