<ul class="hero group">
  <li>
    <a href="/designprinciples">
      <h2>Design <br />Principles</h2>

      <p>The guiding principles at the heart of digital service design</p>
    </a>
  </li>
  <li>
    <a href="/service-manual/digital-by-default">
      <h2>Digital by Default Service Standard</h2>

      <p>The standards digital services must adhere to</p>
    </a>
  </li>
  <li>
    <a href="/service-manual/start">
      <h2>Get <br />started</h2>

      <p>Start building digital by default services</p>
    </a>
  </li>
</ul>