<script src="https://assets.digital.cabinet-office.gov.uk/static/libs/jquery/jquery-1.7.2-2ce4706f8f7193defaa9e7df2b641e9a.js" type="text/javascript"></script>
<script src="https://assets.digital.cabinet-office.gov.uk/static/header-footer-only-597bdeb43191ea19b4f63233807d51f3.js" type="text/javascript"></script>

<script src="/service-manual/assets/javascript/toggler.js?cache={{ site.time | date: "%s" }}" type="text/javascript"></script>
<script src="/service-manual/assets/javascript/media-player-loader.js?cache={{ site.time | date: "%s" }}" type="text/javascript"></script>

{% include _analytics.html %}