// =======================================================
// POPUPS

@mixin popup($width: 70%, $height: 26em){
  width: $width;
  margin: 2em auto 20em auto;
  background-color: white;
  min-height: $height;
  position: static;
  overflow: hidden;
  padding: 0 0 0 1.5em;
  border: 0.5em solid #222;


  // 'X' Close button
  .close{
    top: 0.5em;
    right: 0.5em;
  }

  // Popup header
  .header{
    padding: 1em 0 0.8em 2em;
    margin: 0 0 0 -2em;
    @include core-19;
    border-bottom: 1px solid $border-colour;
  }

  // Popup actions
  .action.group{
    clear: both;
    border-top: 1px solid $border-colour;
    margin: 0 0 0 -2em;
    padding: 1em 2em;
  }
}

// Helper styles for popups
html.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
.popover-mask{
  overflow-y: scroll;
}