// ====================================================
// DESIGN PATTERN PAGES
//

/* Intro panel on landing page */
.pattern-library{
  @include panel($green-25, 50%, right);
}

/* Container for example patterns */
.pattern-example{
  @include panel($highlight-colour);
  .inner{
    @extend %contain-floats;
  }
}

/* Side-by-side code examples */
.side-by-side{
  @include regular-grid(2);
  .pattern-example{
    margin: 0.8em 0 0 0;
  }
}
/* Styles for inline and block code examples */
pre,
code{
  color: black;
  background-color: #f9f9f9;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
pre code{
  border: 0 solid;
  padding: 0;
}
code{
  padding: 0.3em 0.5em;
}

pre:first-child { margin-top: 0; }

/* Update text.scss with these */
hr{
  border: 0;
  background-color: $border-colour;
  height: 1px;
  margin: 2em 0;
}
article dd{
  font-size: 1.16em;
}

/* Mixin argument toggle styles */
.class-toggle .option:hover{
  cursor: pointer;
  text-decoration: underline;
}
.class-toggle .selected{
  text-decoration: none;
  color: red;
  font-weight: bold;
  &:hover{
    cursor: default;
    text-decoration: none;
  }
}
