<nav class="footer-categories">
  <div class="footer-explore">
    <h2>Services and information</h2>
    <ul>
      <li><a href="/browse/driving">Driving and transport</a></li>
      <li><a href="/browse/benefits">Benefits</a></li>
      <li><a href="/business">Businesses and self-employed</a></li>
      <li><a href="/browse/employing-people">Employing people</a></li>
      <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
      <li><a href="/browse/education">Education and learning</a></li>
      <li><a href="/browse/working">Working, jobs and pensions</a></li>
      <li><a href="/browse/housing">Housing and local services</a></li>
      <li><a href="/browse/justice">Crime, justice and the law</a></li>
      <li><a href="/browse/tax">Money and tax</a></li>
      <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
      <li><a href="/browse/disabilities">Disabled people</a></li>
      <li><a href="/browse/citizenship">Citizenship and life in the UK</a></li>
    </ul>
  </div>

  <div class="footer-inside-government">
    <h2>Departments and policy</h2>
    <ul>
      <li><a href="/government/how-government-works">How government works</a></li>
      <li><a href="/government/organisations">Departments</a></li>
      <li><a href="/government/world">Worldwide</a></li>
      <li><a href="/government/topics">Topics</a></li>
      <li><a href="/government/policies">Policies</a></li>
      <li><a href="/government/publications">Publications</a></li>
      <li><a href="/government/announcements">Announcements</a></li>
    </ul>
  </div>
</nav>
