<a href="#search" class="search-toggle js-header-toggle">Search</a>
<form id="search" class="site-search" action="/service-manual/search" method="get">
    <div class="content">
      <label for="site-search-text">Search the service manual</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus" role="search">
      <input class="submit" type="submit" value="Search" />
    </div>
</form>
