// =======================================================
// ACCOUNT MANAGEMENT TOOLS

// Standard account management toolbar that runs across the top of your application
// 

@import "_colours";

@mixin account-management-tools{
  .account-management-tools{
    //margin: -1em -2em 1em;
    margin: 0 -1em 0 0;
    padding: 1em 0em;
    color: white;
    //background: $highlight-colour;
    color: $text-colour;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden; 
      li{
        float: right;
        margin: 0;
        padding: 0 1em 0 0;
        &.user {float: left;}
      }
      a{
        color: $text-colour;
      }
    }
  }
}