// Shamelessly 'inspired' by Whitehall

@import "css3";
@import "colours";

@mixin button($colour){
  background: $colour ;
  @include border-radius(0.250em);
  @include box-shadow(0 2px 0 darken($colour, 15%));
  color: $white;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  position: relative;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  &:hover,
  &:focus {
    background: darken($colour, 5%);
  }
  &:active {
    top: 2px;
    @include box-shadow(0 0 0 $colour);
  }
  &.disabled {
    opacity: 0.5;
    &:hover{
      cursor: default;
      background-color: $colour;
    }
    &:active {
      top: 0;
      @include box-shadow(0 0.2em 0 darken($colour, 15%));
    }
  }    

  // Set text colour depending on background colour
  @if lightness($colour) < 50% {
    color: $white;
    &:hover,
    &:focus,
    &:visited{
      color: $white;
    }
  } @else {
    color: $text-colour;
    &:hover,
    &:focus,
    &:visited{
      color: $text-colour;
    }
  }
}