// =======================================================
// PROGRESS INDICATOR

// http://govuk-prototyping.herokuapp.com/design-patterns/progress-indicator/

@import "colours";

@mixin progress-indicator($active-colour: white, $border-colour: $border-colour, $background-colour: $highlight-colour, $steps: "") {

  /* Progress indicator */

  nav.progress-indicator {
    padding: 0;
  }
  nav.progress-indicator ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  nav.progress-indicator ol li {
    @if ($steps != ""){
      width: percentage(1/$steps - 0.05);
    }
    background-color: $background-colour;
    float: left;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.75;
    border: solid 1px $border-colour;
    margin: 0;
    padding: 0.25em 0.5em 0.25em 1.75em;
    position: relative;
    border-right: none;
    border-left: none;   
    @if lightness($background-colour) < 50% {
      color: white;
    }
  }
  nav.progress-indicator ol li:first-child {
    border-left: solid 1px $border-colour;
    margin-left: 0;
    padding-left: 1em;
  }
  nav.progress-indicator ol li.active {
    background-color: $active-colour;
    @if lightness($active-colour) < 50% {
      color: white;
    }
  }
  nav.progress-indicator ol li.done {
    color: #777;
  }
  nav.progress-indicator ol li:last-child {
    border-right: 1px solid $border-colour;
    padding-right: 1em;
  }
  nav.progress-indicator ol li:last-child::before,
  nav.progress-indicator ol li:last-child::after {
    display: none;
  }
  nav.progress-indicator ol li:before,
  nav.progress-indicator ol li:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 10;
  }
  nav.progress-indicator ol li:after {
    border-left-color: $background-colour;
    border-width: 18px;
    top: 29px;
    right: -36px;
    margin-top: -29px;
  }
  nav.progress-indicator ol li:before {
    border-left-color: $border-colour;
    border-width: 18px;
    top: 29px;
    right: -37px;
    margin-top: -29px;
  }
  nav.progress-indicator ol li.active:after {
    border-left-color: $active-colour;
  }
  .lte-ie8 nav.progress-indicator ol li {
    padding: 0.25em 1em;
  }
  .lte-ie8 nav.progress-indicator .step-count {
    display: block;
    position: relative;
    left: 0;
    font-size: 0.85em;
    margin-bottom: 0.25em;
  }

}