// =======================================================
// SHOW/HIDE (USING DETAILS AND SUMMARY TAGS)

// Progressive disclosure, yay!

/* Example use:
    <details>
      <summary>Wanna know more?</sumary>
      <p>Of course you do!</p>
    </details>
*/

// You'll need to add and initialize jquery.details.js to
// your page if you want accessible, cross-browser support
// for this pattern. 

@import "_colours";
@import '_typography';
@import 'design-patterns/_panels';

@mixin details-and-summary($background-colour: "") {
  details{
    display: block;
    @include panel(transparent);
    margin: 0 -1em 0 -1em;
    summary{
      @include core-19;
      color: #2E3191;
      cursor: pointer;
      display: block;
      text-decoration: underline;
      margin-bottom: 0.5em;
      margin-top: 0.2em;
      &:hover{ color: #1D97FF; }
      &:focus{
        background-color: #FFBF47;
        outline: 3px solid #FFBF47;
      };
    }
    &[open]{
      @if ($background-colour != ""){
        @if ($background-colour == "highlighted"){
          // Default highlight colour
          @include panel($highlight-colour);
        } @else {
          // Custom highlight colour
          @include panel($background-colour);
        }
      }
      margin: 0 -1em 0 -1em;
      summary:focus{ outline: none; background-color: transparent; }
    }



  }
  /* Styles for browsers that don't yet natively support details/summary */
  .no-details details > * { display: none; }
  .no-details details > summary:before { float: left; margin-top: 1px; margin-right: -1px; width: 20px; content: '► ';}
  .no-details details.open > summary:before { content: '▼ ';  }
  .no-details details summary { display: block; }
}