---
---

// ===================================================
// ICONS PAGE
//

@import "frontend_toolkit";
@import "design_patterns";

.icons{
    &.big{
      @include regular-grid(4);
      .icon { height: 8em; }
    }
    &.small{
      @include regular-grid(5);
      .icon { height: 6em; }
    }
    .icon{
      @include wraptocentre;
    }
    a{
      border: 1px solid $border-colour;
      display: block;
      text-decoration: none;
      &:hover{
        background-color: $light-blue-25;
      }
    }
    img{
      margin: 1em 0;
    }
    p {
      background: $highlight-colour;
      display: block;
      padding: .5em;
      margin: 0;
      text-align: center;
      text-decoration: underline;
    }
}



