---
---

// ===================================================
// GOVERNMENT SERVICE DESIGN MANUAL
//

// From the toolkit
@import "colours";
@import "typography";
@import "conditionals";
@import "shims";

// From _includes
@import "design_patterns";

// Styleguide
@import "styleguide/_colours.scss";
@import "styleguide/_dimensions.scss";

// Helpers
@import "helpers/_breadcrumbs.scss";
@import "helpers/_contents.scss";
@import "helpers/_github-links.scss";
@import "helpers/_global-nav.scss";
@import "helpers/_page-status.scss";
@import "helpers/_tables.scss";
@import "helpers/_tooltip.scss";

// Views
@import "views/default.scss";

@import "views/category-index.scss";
@import "views/colours.scss";
@import "views/design-patterns.scss";
@import "views/detailed-guidance.scss";
@import "views/home-page.scss";
@import "views/icons.scss";
@import "views/phases.scss";
@import "views/role-index.scss";
@import "views/standard.scss";
@import "views/typography.scss";

// Layouts
@import "layouts/gsdm.scss";
