// ===================================================
// PHASES PAGE
//

@import "colours";
@import "design-patterns/regular-grid";


// CONTENT SLIDER

$slider-width: 900px;
$slider-height: 650px;
$slider-sections: 4;

.slider {
  width:100%;
  overflow:hidden;
  position: relative;
  height: $slider-height;
  margin-bottom: 1em;
  h2{
    margin-top: 1em;
  }
  // Wrapper around all the sections in the slider
  .wrapper{
    width: $slider-width * $slider-sections;
    position: absolute;
    height: $slider-height;
  }

  // Each section in the slider
  section {
    box-sizing: border-box;
    width: $slider-width;
    float:left;
    padding: 1em 2em 0 1em;
  }
  #phase1{
    padding-left: 0;
  }
}



// Active slider navigation link
.active{
  background: $border-colour;
  padding: 0.5em 1em;
  display:block;
  float:left;
  outline:none;
  text-decoration: none;
}

// Slider navigation links
.slider-nav a{
  background: $highlight-colour;
  border-top: 5px solid $highlight-colour;
  padding:0.5em 1em;
  display:block;
  float:left;
  margin: 1em 5px 0 0;
  &:hover{
    background: darken($highlight-colour, 5%);
  }
}

// Scale each nav item to reflect relative phase duration 
.nav-item-1 {width: 10%;}
.nav-item-2 {width: 15%;}
.nav-item-3 {width: 25%;}
.nav-item-4 {width: 32%;}

.nav-item-1:hover {border-color: $fuschia;}
.nav-item-2:hover {border-color: $pink;}
.nav-item-3:hover {border-color: $orange;}
.nav-item-4:hover {border-color: $grass-green;}

.nav-item-1.active,
.nav-item-1.active:hover{ background: $fuschia; color: $white; border-color: $fuschia;}
.nav-item-2.active,
.nav-item-2.active:hover{ background: $pink; color: $text-colour; border-color: $pink;}
.nav-item-3.active,
.nav-item-3.active:hover{ background: $orange; color: $text-colour; border-color: $orange;}
.nav-item-4.active,
.nav-item-4.active:hover{ background: $grass-green; color: $white; border-color: $grass-green;}


.slider{
  border-top: 5px solid;
  border-bottom: 5px solid;
}

.slider.section-1{
  box-shadow: none;
}

.slider.section-1 { border-color: $fuschia;}
.slider.section-2 { border-color: $pink;}
.slider.section-3 { border-color: $orange;}
.slider.section-4 { border-color: $grass-green;}

.next-section,
.prev-section{
  display: block;
  width: 72px;
  height: $slider-height;
  position: absolute;
  z-index: 100;
  text-align: center;
  padding-top: ($slider-height / 2 ) - 20px;
  span{
    display: none;
    background-color: #333;
    font-size: 40px;
    width: 60px;
    height: 60px;
    color: white;
    line-height: 70px;
  }
  &:hover {
    text-decoration: none;
    span{
      display: block;
    }
  }
}
.next-section{
  box-shadow: inset -10px -10px 10px -10px $border-colour;
  right: 0;
  span{
    text-indent: 7px;
    margin-right: 10px;
  }
}
.prev-section{
  box-shadow: inset 10px 0px 10px -10px $border-colour;
  left: 0;
  span{
    text-indent: -7px;
    margin-left: 10px;
  }
}
.section-4 .next-section,
.section-1 .prev-section{
  display: none;
}

// Slider section content
.infographic{
  background-color: $highlight-colour;
  height: 2em;
  margin: 0 -2em 0 -1em;
  display: none;
}
#phase4 .infographic{
  margin-right: -6em;
}
.team{
  background-color: $highlight-colour;
  padding: 1em;
  width: 200px;
  float: right;
  margin-left: 1em;
  margin-top: -3em;
  h3{
    margin-top: 0;
  }
}

.outputs{
  margin: 0;
  padding: 0;
  overflow: hidden;
  li{
    margin: 0 2em 0 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    float: left;
    text-align: center;
    width: 100px;
  }
  .output{
    display: block;
    background-color: $highlight-colour;
  }
}