---
---

// ===================================================
// GOVERNMENT SERVICE DESIGN MANUAL
//

@import "colours";
@import "typography";
@import "conditionals";
@import "shims";
@import "design-patterns/panels";
@import "design-patterns/regular-grid";
@import "design-patterns/global-nav";
@import "design-patterns/show-hide";
@import "design-patterns/forms";

@include global-nav($black, $border-colour);


// Semantic colour names
$main-colour: $green;
$secondary-colour: $green-25;

$alpha-colour: $pink;
$discovery-colour: $pink-25;
$inception-colour: $pink-50;
$alpha-colour: $pink;
$beta-colour: $orange;
$live-colour: $grass-green;
$operational-colour: $grass-green-50;
$decommissioning-colour: $grey-3;




// ====================================================
// DEFAULT PAGE STYLES
//

// Global navigation
#global-nav{
  text-align:left;
}

// Alpha sticker
#global-nav .home {
  a {
  position: relative;
    small{
      position: absolute;
      top: 0.8em;
      text-transform: uppercase;
      color: white;
      -webkit-font-smoothing: subpixel-antialiased;
      background: #d53880;
      padding: 2px 5px 0;
      margin-left: 10px;
    }
  }
}

// Reset right padding of main page
article .inner{
  padding-right: 2em; 
}

// Page status label
.page-status{
  display: block;
  float: right;
  color: $white;
  background-color: $green;
  padding: 0.2em 1.5em 0em 1.5em;
  text-align: center;
  text-transform: uppercase;
  // Custom label colours for each status
  &.draft{
    background-color: $fuschia;
  }
}

// Page subtitle
.subtitle{
  margin: -1em 0 1em 0;
  color: $secondary-text-colour;
  @include core-24;
}

// Breadcrumbs
.breadcrumb{
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  background: white;
  padding: 1em 2em 0 2em;
  li{
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}

.article-container .inner {
  // 1st para is bigger
  .intro,
  > p:first-of-type{
    font-size: 24px;
    padding: 0;
  }
  // H2's get distinct style
  h2{
    font-weight: 400;
    border-bottom: 5px solid $main-colour;
    margin: 2em 0 2em 0;
    &.subtitle{
      margin-top: -1em;
      border: 0 solid;
    }
  }
}

// Default page layout has wide left margin to reduce line length
.default .article-container .inner{
  margin-left:  25%;
  .intro,
  > p:first-of-type,
  h2{
    margin-left: -36%;
  }
}



// Table of contents
#markdown-toc{
  li ul {
    display: none;
  }
  li:first-child{
    display: none; // Hide the header for the 'Toc' itself. The {:.no_toc} tag is supposed to address this but appears to not work.
  }
}

// Data tables
article table{
  margin: 1em 0 2em 0;
  width: 100%;
}
.hide-headers thead{
  display: none;
}

// Throw images into left margin
.left{
  width: 31%;
  float: left;
  margin-left: -36%;
  img{
    width: 100%;
  }
  &:hover{
    cursor: pointer;
    &:after{
      content: "Click to enlarge";
      color: $secondary-text-colour;
      font-size: 16px;
    }
  }
  &:active{
    width: auto;
    position: absolute;
    img{
      box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
      width: auto;
      max-width: 800px;
    }
    &:after{
      content: "";
    }
  }
}

// ====================================================
// HOME PAGE
//

// Main promo on home page
.dbd-promo{
  font-size: 16px;
  border-top: 3px solid $main-colour;
  border-bottom: 3px solid $main-colour;
  overflow: hidden;
  margin-bottom: 2em;
  p{
    width: 47%;
    margin: 1em 0 1em 0;
    float: left;
    font-size: 19px;
    line-height: 1.5em;
  }
  .logo{
    display: block;
    float: right;
    padding: 1.5em 0 1em 1.5em;
    width: 44%;
    img{
      width: 100%;
    }
  }
}

// Secondary promos
.secondary-promos{
  @include regular-grid(3, 165px);
  margin: 2em 0 0 0;
  div{
    background: $secondary-colour;
  }
  h3{
    background: $main-colour;
    padding: 0.5em 1em;
    color: white;
    font-weight: normal;
    margin: 0;
  }
  p{
    margin: 0;   
  }
  a{
    display: block;
    padding: 1em;
  }
}

// Links to role index pages
.roles{
  @include regular-grid(3);
  a{
    display: block;
    padding: 0.5em 0;
    border-top: 3px solid $main-colour;
    font-size: 16px;
  }
}


// ====================================================
// DIGITAL BY DEFAULT STANDARD PAGE
//

.dbd {
  // Swap standard header for DbD kitemark
  .page-header {
    hgroup{
      padding-top: 2em;
    }
    h1{
      background: url('/assets/images/DbD-kitemark.png') no-repeat 0.5em;
      height: 190px;
      background-size: Auto 74%;
      text-indent: -9999px;
    }
  }
  .subtitle{
    display: none;
  }
  // The list of criteria
  .standard{
    ul{
      display: inline-block;
      vertical-align: middle;
      margin-top: 1em;
      margin-bottom: 1em;
      padding-left: 0;
      width:  73%;
      border-left: 5px solid $grey-3;
    }
    li{
      list-style: none;
      line-height: (40 / 24);
      padding-left: 1em;
      //background-image: url("../images/progress-tick.png");
      //background-repeat: no-repeat;
      //background-position: 19px 45%;
      &:before{
        content: "✓";
        color: $green;
        margin-right: 1em;
      }
    }  
    h3{
      display: inline-block;
      margin-right: 1em;
      width: 18%;
      @include heading-36;
      text-align: right;
    }
    h4{
      margin-left: 11.4em;
      font-weight: bold;
    }
  }
}


// ====================================================
// DISCOVERY, ALPHA, BETA, LIVE PAGE
//

.phase-diagram{
  width: 100%;
  margin: 0 -1em 0 -1em;
}

.phase-nav{
  width:100%;
  margin:0 -1em;
  li{
    display: block;
    float: left;
    width: 49%;
    margin: 0; 
    padding: 1em;
    &.discovery{
      background-color:$discovery-colour;
    }
    &.inception{
      background-color:$inception-colour;
    }
    &.alpha{
      background-color:$alpha-colour;
    }
    &.beta{
      background-color:$beta-colour;
    }
    &.live{
      background-color:$live-colour;
    }
    &.operational{
      background-color:$operational-colour;
    }
    &.decommissioning{
      background-color:$decommissioning-colour;
    }
  }
}

// ====================================================
// INDEX PAGES
//

// Primary links
.primary-links {
  @include regular-grid(3);
  div{
    box-sizing: border-box;
    border-top: 3px solid $main-colour;
    padding: 1em 0 0 0;
  }
}

// Lists of links
.link-list {
  border-top: 3px solid $main-colour;
  border-bottom: 0;
  padding-bottom: 1.5em;
  h3{
    margin-top: 1em;
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      font-size: 16px;
      list-style-type: none;
      list-style-image: none;
      overflow: hidden;
      margin-top: 0.5em;
      padding-top: 0.5em;
      padding-left: 0;
      border-top: 1px solid $grey-3;
      a{
        display: block;
        overflow: hidden;
        span{
          display: block;
          float: left;
        }
        .title {
          width: 34%;
          text-decoration: underline;
        }
        .description{
          width: 64%;
          color: $secondary-text-colour;
        }
        &:hover .description{
          text-decoration: underline;
        }
      }
    }
  }
  // Run lists over two columns
  &.wide{
    width: 65.5%;
    margin-right: 0;
    li{
      display: inline-block;
      width: 48.3%;
      &:nth-child(odd){
        margin-right: 1em;
      }
    }
  }
  // Use title attribute to show page subtitle
  a[title]:after{
    content: attr(title);
    position: absolute;
    left: 35%;
    color: #6F777B;
    text-decoration: none;
    width: 64%;
    &:hover{
      text-decoration: underline;
    }    
  }
  // Big blocky version for hero promo
  &.hero{
    padding: 0;
    border-top: 0 solid;
    a{
      padding: 1em;
      display: block;
      background-color: $main-colour;
      text-decoration: none;
      h3, p{
        color: white;
      }
      p{
        font-size: 19px;
      }
      &:hover{
        background-color: lighten($main-colour, 10%);
      }
    }
    h3{
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 0.5em;
    }
  }
}


// ====================================================
// DESIGN PATTERN PAGES
//

/* Intro panel on landing page */
.pattern-library{
  @include panel($green-25, 50%, right);
}

/* Container for example patterns */
.pattern-example{
  @include panel($highlight-colour);
  .inner{
    @extend %contain-floats;
  }
}

/* Side-by-side code examples */
.side-by-side{
  @include regular-grid(2);
  .pattern-example{
    margin: 0.8em 0 0 0;
  }
}
/* Styles for inline and block code examples */
pre,
code{
  color: black;
  background-color: #f9f9f9;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
pre code{
  border: 0 solid;
  padding: 0;
}
code{
  padding: 0.3em 0.5em;
}

pre:first-child { margin-top: 0; }

/* Update text.scss with these */
hr{
  border: 0;
  background-color: $border-colour;
  height: 1px;
  margin: 2em 0;
}
article dd{
  font-size: 1.16em;
}

/* Mixin argument toggle styles */
.class-toggle .option:hover{
  cursor: pointer;
  text-decoration: underline;
}
.class-toggle .selected{
  text-decoration: none;
  color: red;
  font-weight: bold;
  &:hover{
    cursor: default;
    text-decoration: none;
  }
}


// ====================================================
// Tooltip 

a.tooltip {
  outline: none;
  color: $black;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
    &:after{
      content: "\25C0";
      display: block;
      text-decoration: none;
      color: black;
      z-index: 11;
      margin-left: 10px;
    }
    span{
      display: inline;
      position: absolute;
      color: #EEE;
      background: #0B0C0C;
    }
  }
  span {
    z-index: 10;
    display: none;
    padding: 1em;
    margin-top: -50px;
    margin-left: 22px;
    width:240px;    
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3)
  }
}
