---
---

// ===================================================
// TYPOGRAPHY PAGE
//

@import "frontend_toolkit";
@import "design_patterns";

@font-face {
  font-family: GDS-Regular;
  src: local("NTA-Light"), local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}


html {
  font-size: 62.5%;
}

html, body, h0, h1, h2, h3, h4, h5, h6, p {
  display: block;
  padding: 0;
  margin: 0;
}

p {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.45;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0;
  text-transform: none;
  color: #444;
}
@media (max-width: 640px) {
  p {
    font-size: 1.3rem;
    line-height: 1.1538461538;
  }
}


.heading h0 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 80px;
  font-size: 8rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-indent: -0.04em;
  padding-top: 6px;
  padding-top: 0.6rem;
  padding-bottom: 14px;
  padding-bottom: 1.4rem;
}
@media (max-width: 640px) {
  .heading h0 {
    font-size: 5.3rem;
    line-height: 1.0377358491;
  }
}
@media (max-width: 640px) {
  .heading h0 {
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
  }
}


.heading h1 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.04167;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-indent: -0.04em;
  padding-top: 7px;
  padding-top: 0.7rem;
  padding-bottom: 13px;
  padding-bottom: 1.3rem;
}
@media (max-width: 640px) {
  .heading h1 {
    font-size: 3.2rem;
    line-height: 1.1;
  }
}
@media (max-width: 640px) {
  .heading h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.heading h2 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.1111111111;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-indent: -0.04em;
  padding-top: 6px;
  padding-top: 0.6rem;
  padding-bottom: 9px;
  padding-bottom: 0.9rem;
}
@media (max-width: 640px) {
  .heading h2 {
    font-size: 2.4rem;
    line-height: 1.0416666667;
  }
}
@media (max-width: 640px) {
  .heading h2 {
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
  }
}

.heading h3 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 27px;
  font-size: 2.7rem;
  line-height: 1.11112;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-indent: -0.04em;
  padding-top: 4px;
  padding-top: 0.4rem;
  padding-bottom: 6px;
  padding-bottom: 0.6rem;
}
@media (max-width: 640px) {
  .heading h3 {
    font-size: 1.8rem;
    line-height: 1.1111111111;
  }
}
@media (max-width: 640px) {
  .heading h3 {
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
  }
}

.heading h4 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  text-indent: -0.04em;
  padding-top: 6px;
  padding-top: 0.6rem;
  padding-bottom: 14px;
  padding-bottom: 0.4rem;
}
@media (max-width: 640px) {
  .heading h4 {
    font-size: 1.6rem;
    line-height: 1.25;
  }
}
@media (max-width: 640px) {
  .heading h4 {
    padding-top: 0.9rem;
    padding-bottom: 0.6rem;
  }
}


.copy h4 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  padding-top: 6px;
  padding-top: 0.6rem;
  padding-bottom: 4px;
  padding-bottom: 0.4rem;
}
@media (max-width: 640px) {
  .copy h4 {
    font-size: 1.6rem;
    line-height: 1.25;
  }
}
@media (max-width: 640px) {
  .copy h4 {
    padding-top: 0.9rem;
    padding-bottom: 0.6rem;
  }
}

.copy h5 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.31579;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  padding-top: 0;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
}
@media (max-width: 640px) {
  .copy h5 {
    font-size: 1.3rem;
    line-height: 1.1538461538;
  }
}
@media (max-width: 640px) {
  .copy h5 {
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
  }
}


.pullout-aside h6 {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
  padding-top: 5px;
  padding-top: 0.5rem;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
}
@media (max-width: 640px) {
  .pullout-aside h6 {
    font-size: 1.3rem;
    line-height: 1.1538461538;
  }
}
@media (max-width: 640px) {
  .pullout-aside h6 {
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
  }
}


.caption-button p {
  font-family: "nta", "GDS-Regular", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4285714286;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: 0;
  text-transform: none;
  padding-top: 5px;
  padding-top: 0.5rem;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
}
@media (max-width: 640px) {
  .caption-button p {
    font-size: 1.2rem;
    line-height: 1.25;
  }
}
@media (max-width: 640px) {
  .caption-button p {
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
  }
}

#no-baseline {
  float: left;
  width: 45%;
  padding: 0 2.5% 20px;
}

#no-baseline h0, 
#no-baseline h1, 
#no-baseline h2, 
#no-baseline h3, 
#no-baseline h4, 
#no-baseline h5, 
#no-baseline h6, 
#no-baseline .caption-button p {
  margin-top: 20px;
}

#baseline {
  float: left;
  width: 45%;
  padding: 0 2.5% 20px;
  background-position: top left;
  background-image: -webkit-linear-gradient(transparent 4px, #eee 1px);
  background-size: 100% 5px;
}

#baseline h0, 
#baseline h1, 
#baseline h2, 
#baseline h3, 
#baseline h4, 
#baseline h5, 
#baseline h6, 
#baseline .caption-button p {
  margin-top: 20px;
  background: rgba(0,0,255,0.1);
}

