// DESIGN PATTERN
//
// All design patterns make use of the helper styles in '/assets/sass/govuk-helper'

// Additional styles for this pattern:

.progress-indicator {
  
  margin-bottom: $gutter;
  
  ol, 
  ul{
    @extend %contain-floats;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: $border-colour;
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    color: $secondary-text-colour;
    padding: 12px 0 5px 0;
  }
  a {
    text-decoration: none;
  }
  
  .active {
    border-bottom: 5px solid $text-colour;
    color: $text-colour;
  }
  .active a {
    color: $text-colour;
    text-decoration: none;
  }
  
}

.progress-indicator-horizontal {
  
  li {
    @include media(tablet) {
      float: left;
      margin-right: $gutter;
    }
  }
  li.active {
    @include media(tablet) {
      margin-bottom: -5px;
    }
  }
  
}

.progress-indicator-vertical {
  
  // Reduce width for desktop (for this example only)
  @include media(tablet) {
    width: 50%; 
  }
  
  span {
    float: right;
  }
  
}