// Semantic colour names
$main-colour: $mellow-red;
$secondary-colour: $red;

$alpha-colour: $pink;
$discovery-colour: $pink-25;
$inception-colour: $pink-50;
$alpha-colour: $pink;
$beta-colour: $orange;
$live-colour: $grass-green;
$operational-colour: $grass-green-50;
$decommissioning-colour: $grey-3;