<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Cards — Government Service Design Manual</title>
    {% include layouts/_head.html %}

<style media="screen, print">
html{
  background-color: white !important;
}
.card{
  width: 25%;
  border: 1px solid grey;
  height: 15em;
  float: left;
  margin: 1em;
  padding: 1em;
  overflow: hidden;
}

h3{
  font-weight: bold;
  margin: 0.5 0;
}
p{
  font-size: 16px;
  margin: 0.5em 0;
}
hr{
  border: 0;
  border-top: 1px solid grey;
  margin: 1em 0;
}
</style>

<style media="print">
.card{
  width: 40%;
}
p{
  font-size: 12px;
}
a:after{display: none;}

.card{
        page-break-inside: avoid;
}
</style>

  </head>
  <body >

{% for p in site.pages %}
  {% if p.title %}
<div class="card">
    <h3>{{ p.title }}</h3>
    <p>{{ p.subtitle }}</p>
    <p><a href="{{ p.url }}">https://www.gov.uk{{ p.url }}</a></p>
    <hr>
    <!--
    <p class="audience">Primary audience: {{ p.audience.primary }}</p>
    <p class="audience">Secondary audience: {{ p.audience.secondary }}</p>
    -->

</div>
  {% endif %}
{% endfor %}



  </body>
</html>
