<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class=""><!--<![endif]-->
<head>
  {% include _head.html %}

</head>
<body class="mainstream full-width {{ page.section }}">
  <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>

  {% include _header.html %}

  <div id="wrapper" class="{{ page.categories }}{% if page.section_class  %} {{ page.section_class }}{% endif %}">

    <section id="content" role="main" class="group">

      <div class="js-toggle-nav" id="global-nav">
        <div class="inner">
          <span class="home"><a href="/" {% if page.section == 'home' %}class="current"{% endif %}>Government Service Design Manual<small>alpha</small></a></span>
          <nav role="navigation" class="content">
            <ul id="navigation">
              <li><a href="/digital-by-default" {% if page.section == 'dbd' %}class="current"{% endif %}>Digital by Default Standard</a></li>
              <li><a href="/about" {% if page.section == 'about' %}class="current"{% endif %}>About the manual</a></li>
              <li><a href="/feedback" {% if page.section == 'feedback' %}class="current"{% endif %}>Feedback</a></li>
            </ul>
          </nav>
        </div>
      </div>

      {{ content }}

    </section>
  </div><!--end wrapper-->

  {% include _footer.html %}

</body>
</html>
