<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" class=""><!--<![endif]-->
<head>
  {% include _head.html %}

</head>
<body class="mainstream full-width {% if page.section_class  %}{{ page.section_class }}{% endif %}{% if page.page_class  %} {{ page.page_class }}{% endif %} {{ page.section }}">
  <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>

  {% include _header.html %}

  <div id="wrapper">

    <section id="content" role="main" class="group">

      {{ content }}

    </section>
  </div><!--end wrapper-->

  {% include _footer.html %}

  {% include _scripts.html %}
</body>
</html>
