---
layout: default-wrapper
section_class: wide design-patterns
---

{% if page.status %}
<div class="page-status {{ page.status }}">{{ page.status }}</div>
{% endif %}

<article role="article" class="group">
  <header class="page-header group">
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </hgroup>
  </header>

  <div class="article-container group">
    <div class="inner">
      {{ content }}
    </div>

    <ul class="github-links">
      <li><a href="https://github.com/alphagov/government-service-design-manual/commits/master{{ page.url | replace:'.html','.md' }}">Page history</a>
      <li><a href="https://github.com/alphagov/government-service-design-manual/edit/master{{ page.url | replace:'.html','.md' }}">Edit page on GitHub</a>
    </ul>
  </div>
</article>


