<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8 " lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en" class="">
<!--<![endif]--><head>
{% include _head.html %}
    <link rel="stylesheet" href="/gsdm/css/styles.css" />
  </head>


  <body class="mainstream full-width">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>

    {% include _header.html %}

    <div id="wrapper" class="{{ page.categories }}{% if page.section_class  %} {{ page.section_class }}{% endif %}">

      <section id="content" role="main" class="group">

        <div class="js-toggle-nav" id="global-nav">
          <div class="inner">
            <nav role="navigation" class="content">
              <ul id="navigation">
                <li><a href="/" {% if page.section == 'guidance' %}class="current"{% endif %}>Government Service Design Manual</a></li>
                <li><a href="/digital-by-default" {% if page.section == 'dbd' %}class="current"{% endif %}>Digital by Default Service Standard</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <header class="page-header group">
            <div class="breadcrumb">
              <li>
                <span class="divider">/</span>
                <a href="/handbook/">Guides and toolkits</a>
              </li>
              <li>
                <span class="divider">/</span>
                <a href="/handbook/43/">Design patterns</a>
              </li>
            </div>
        <div class="hgroup"><h1>{{ page.title }}</h1></div></header><div class="article-container group">
        <article role="article" class="group">
          <div class="inner">
              {{ content }}
            </div>
            </article>
          </div>
      </section>
    </div><!--end wrapper-->
    {% include _footer.html %}
    {% include _scripts.html %}
  </body>
</html>
