---
layout: default-wrapper
section_class: phases
---

{% include _breadcrumbs.html %}

<article role="article" class="group">
  <header class="page-header group">
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </hgroup>
  </header>

  <div class="article-container group">
    <div class="inner">
      <div class="phases-list">
        <div class="{{ page.phase }}">
          {{ content }}
        </div>

        <div class="{{ page.phase }}">
          <h2>Guidance for this phase</h2>

          <div class="link-list">
            <h2 id="agile">Agile</h2>
            {% assign link_cat = 'agile' %}
            {% include _phase-links.html %}

            <h2 id="assisted-digital">Assisted digital</h2>
            {% assign link_cat = 'assisted-digital' %}
            {% include _phase-links.html %}

            <h2 id="content-and-design">Design and content</h2>
            {% assign link_cat = 'design-and-content' %}
            {% include _phase-links.html %}

            <h2 id="making-software">Making software</h2>
            {% assign link_cat = 'making-software' %}
            {% include _phase-links.html %}

            <h2 id="measurement">Measurement</h2>
            {% assign link_cat = 'measurement' %}
            {% include _phase-links.html %}

            <h2 id="operations">Operations</h2>
            {% assign link_cat = 'operations' %}
            {% include _phase-links.html %}

            <h2 id="the-team">The team</h2>
            {% assign link_cat = 'the-team' %}
            {% include _phase-links.html %}

            <h2 id="users">Users</h2>
            {% assign link_cat = 'users' %}
            {% include _phase-links.html %}
          </div>

        </div>
      </div>
    </div>
  </div>
</article>


