---
layout: default-wrapper
section_class: wide role-index
---

{% include _breadcrumbs.html %}

<article>
  <header class="page-header group">
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </hgroup>

    {% include _meta-phases.html %}
  </header>

  <div class="role-section group">
    <h2>Transforming IT culture</h2>

    <div class="description">
      <p>IT, like digital services, has to meet the needs of users to be successful. That means understanding who will be using it, what it will be used for, and how to make sure it keeps meeting those users’ needs.</p>
    </div>

    <ul class="link-list">
      <li><a href="/service-manual/technology">Guidance for CTOs</a></li>
      <li><a href="/service-manual/users/user-needs">User needs</a></li>
      <li><a href="/service-manual/technology/culture-that-supports-change">Creating a culture that supports change</a></li>
      <li><a href="/service-manual/technology/government-as-a-platform">Government as a platform</a></li>
      <li><a href="/service-manual/technology/open-data">Open data</a></li>
      <li><a href="/service-manual/technology/spending-controls">Spending controls</a></li>
      <li><a href="/service-manual/technology/code-of-practice">Technology code of practice</a></li>
    </ul>
  </div>

  <div class="role-section group">
    <h2>Hardware, systems and services</h2>

    <div class="description"><p>You’ll need to have a full understanding of your ‘stack’ and make sure that it’s flexible enough to meet the needs of your users as the components within it change and develop over time.</p></div>

    <ul class="link-list">
      <li><a href="/service-manual/technology/end-user-devices">End user devices</a></li>
      <li><a href="/service-manual/making-software/choosing-technology">Choosing technology</a></li>
      <li><a href="/service-manual/technology/architecture">Technology architecture</a></li>
      <li><a href="/service-manual/technology/security-as-enabler">Security as enabler</a></li>
      <li><a href="/service-manual/technology/service-integration">Service integration and management</a></li>
      <li><a href="/service-manual/making-software/apis">APIs</a></li>
      <li><a href="/service-manual/making-software/open-standards-and-licensing">Open standards and licensing</a></li>
    </ul>
  </div>
</article>
