<script src="/service-manual/assets/javascript/jquery-1.7.2.js"></script>
<script src="/service-manual/assets/javascript/jquery-ui-1.10.2.custom.js?cache={{ site.time | date: "%s" }}"></script>
<script src="/service-manual/assets/toolkit/javascripts/vendor/jquery/jquery.player.min.js?cache={{ site.time | date: "%s" }}"></script>
<script src="/service-manual/assets/toolkit/javascripts/govuk/analytics/google-analytics-universal-tracker.js?cache={{ site.time | date: "%s" }}"></script>
<script src="/service-manual/assets/toolkit/javascripts/govuk/analytics/analytics.js?cache={{ site.time | date: "%s" }}"></script>
<script src="/service-manual/assets/javascript/analytics-init.js?cache={{ site.time | date: "%s" }}"></script>
<script src="/service-manual/assets/javascript/toggler.js?cache={{ site.time | date: "%s" }}"></script>
<script src="/service-manual/assets/javascript/media-player-loader.js?cache={{ site.time | date: "%s" }}"></script>
<script src="/service-manual/assets/javascript/forms.js?cache={{ site.time | date: "%s" }}"></script>
