<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/service-manual" id="proposition-name">Government Service Design Manual</a>
      <ul id="proposition-links">
        <li><a href="/service-manual/digital-by-default" class="">Digital by Default Service Standard</a></li>
        <li><a href="/service-manual/start" class="">Start using the manual</a></li>
        <li><a href="/contact/govuk" class="">Feedback</a></li>
      </ul>
    </nav>
  </div>
</div>