body.full-width {
  .wide {
    .article-container {
      margin: 0 1em;

      @include media(desktop) {
        margin: 0 2em;
      }

      h2 {
        border-bottom: 3px solid $main-colour;
        margin-bottom: 1em;
      }

      p {
        width: 75%;
      }

      &>.inner {
        margin: 0;
        padding: 0;
      }
    }
  }
}